.header__logo {
  background-image: url(../../../images/header/logo.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 934px) {
  .header__logo {
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
  }
}
