.cards__remove-button {
  background-image: url(../../../images/cards/Trash.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 19.3px;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  transition: opacity 1s;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 15px;
}

.cards__remove-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cards__remove-button:focus {
  outline: none;
}
