.profile__title {
  margin: 0 0 16px 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 530px;
}

@media screen and (max-width: 934px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    padding-top: 22.25px;
    padding-bottom: 14px;
    margin-bottom: 0;
    max-width: 220px;
  }
}
