.profile__add-button {
  background-color: transparent;
  background-image: url(../../../images/profile/add-button.svg);
  background-size: 22px 22px;
  background-position: 50% 50%;
  width: 150px;
  height: 50px;
  padding: 0;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: opacity 1s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 934px) {
  .profile__add-button {
    margin: 36px 19px 0 19px;
    width: 282px;
    background-size: 16px 16px;
  }
}
